.inputLabel {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.inputImg {
    border: #111111 1px dashed;
    background-color: transparent;
    color: black;
    width: 100%;
    height: 20rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.inputImg:hover {
    opacity: 1;
    color: #0070f3;
    border: #0070f3 1px dashed;
}

.preview {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.confirm {
    justify-content: center;
    display: flex;
    margin: 1rem;
}

.uploadImage {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}

.alert{
    margin-top: 0;
    color: red;
}

.tip {
    margin-top: 0;
    color: #0070f3;
    text-align: center;
}